AppSoap/Web References/AppSoap_Crud/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/Soap_estudiantes.xsd" />
      <s:import schemaLocation="http://localhost:55777/SOAP_CRUD/Service.asmx?schema=Soap_estudiantes" namespace="http://tempuri.org/Soap_estudiantes.xsd" />
      <s:element name="FnVerAlumno">
        <s:complexType />
      </s:element>
      <s:element name="FnVerAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnVerAlumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/Soap_estudiantes.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnRegistrarAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellido1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellido2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Genero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnRegistrarAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnRegistrarAlumnoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnEliminarAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnEliminarAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnEliminarAlumnoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FnVerAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:FnVerAlumno" />
  </wsdl:message>
  <wsdl:message name="FnVerAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:FnVerAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="FnRegistrarAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:FnRegistrarAlumno" />
  </wsdl:message>
  <wsdl:message name="FnRegistrarAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:FnRegistrarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="FnEliminarAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:FnEliminarAlumno" />
  </wsdl:message>
  <wsdl:message name="FnEliminarAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:FnEliminarAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="FnVerAlumno">
      <wsdl:input message="tns:FnVerAlumnoSoapIn" />
      <wsdl:output message="tns:FnVerAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FnRegistrarAlumno">
      <wsdl:input message="tns:FnRegistrarAlumnoSoapIn" />
      <wsdl:output message="tns:FnRegistrarAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FnEliminarAlumno">
      <wsdl:input message="tns:FnEliminarAlumnoSoapIn" />
      <wsdl:output message="tns:FnEliminarAlumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FnVerAlumno">
      <soap:operation soapAction="http://tempuri.org/FnVerAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnRegistrarAlumno">
      <soap:operation soapAction="http://tempuri.org/FnRegistrarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnEliminarAlumno">
      <soap:operation soapAction="http://tempuri.org/FnEliminarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FnVerAlumno">
      <soap12:operation soapAction="http://tempuri.org/FnVerAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnRegistrarAlumno">
      <soap12:operation soapAction="http://tempuri.org/FnRegistrarAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnEliminarAlumno">
      <soap12:operation soapAction="http://tempuri.org/FnEliminarAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:55777/SOAP_CRUD/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:55777/SOAP_CRUD/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>